h1,h2{font-family: 'Times New Roman', Times, serif;}
h2{text-transform: capitalize;}
.clase1 {
    color: lime;
}
.claseimg {
border-top: 22px;
border-left: 22px;
border-right: 22px;
}
h1{margin:10px ;}
body{
    background-image:url(./img/artificial-turf-gd9310b332_1920.jpg);
    
}
body{
    color: white;
}
body{
    font-size: 22px;
}